body{
    background-image: url(../imagens/img1.JPG); 
    font-family: "Arial", "Helvetica", sans-serif;
}


h1 {
    display: absolute;
    background: rgba(160,155,235,1.0);
    color:  rgba(255,255,255,1.0);
    margin: 10px;
    padding:  10px;
    border: 1px solid #000;
  }
